@use "../../styles/mixins" as *;

.bio-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 720px;
  padding: 40px 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  transition: all ease 0.4s;
  @include md {
    padding: 60px 0px;
  }
  .bio-image-container {
    flex-shrink: 0;
    @include md {
      display: block;
    }
    img {
      width: 140px;
      height: 140px;
      background-position: center;
      @include md {
        width: 200px;
        height: 200px;
      }
    }
  }
  .bio-info {
    width: 100%;
    padding: 0px 20px;
    font-weight: 100;
    line-height: 1.4;
    .bio-info-name {
      font-size: 24px;
      @include md {
        font-size: 32px;
      }
    }
    @include md {
      padding: 0px 40px;
    }

    strong {
      font-weight: 600;
    }
    .bio-info-position {
      span {
        font-size: 18px;

        @include md {
          font-size: 20px;
        }
      }
    }
    .bio-info-introdution {
      padding: 4px 0;
      font-size: 16px;
    }
  }
}
