@use "../../../styles/mixins" as *;
@use "../../../styles/colors" as *;

.post-toc {
  position: sticky;
  top: 80px;
  padding-left: 20px;
  width: 400px;
  max-height: 100vh;
  display: none;
  @include xl {
    display: flex;
  }

  ul li {
    margin-top: 12px;
    padding-left: 12px;
    a {
      color: var(--second-text-color);
      display: block;
    }
    .toc-active {
      transition: all ease 0.4s;
      transform: translateX(-8px);
      color: var(--primary-text-color);
    }
  }
}
