@use "../../../styles/mixins" as *;
@use "../../../styles/colors" as *;

@keyframes categorySelect {
  from {
    height: 0;
    width: 0;
    opacity: 0;
  }
  to {
    height: 100%;
    width: 100%;
    opacity: 100%;
  }
}

.post-card-list-wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding: 40px 0px;
  @include max-width;
  @include md {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .post-card-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 20px;
    @include md {
      margin-top: 0;
    }

    &-title {
      font-size: 1.75rem;
      line-height: 1.4;
      padding: 20px 0;
      font-weight: 500;
    }
    &-column {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 40px;
      width: 100%;
      height: auto;
    }
  }
  .category-list {
    width: 100%;
    height: auto;
    padding-left: 20px;
    &-title {
      color: var(--primary-text-color);
      font-size: 1.25rem;
      line-height: 1.4;
      padding: 20px 0;
      font-weight: 500;
    }
    &-items {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
    }
  }
}
