@use "../../styles/mixins" as *;
@use "../../styles//colors" as *;

.header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
  color: white;

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    @include max-width;

    padding: 20px 28px;
    @include md {
      padding: 24px 28px;
      flex-direction: row;
    }

    .header-menu {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      a {
        font-size: 18px;
        font-weight: 600;
        margin-right: 20px;
      }
      @include md {
        justify-content: flex-start;
      }
    }
    .header-title {
      flex: 1;
      font-size: 18px;
      font-weight: 600;
      @include md {
        text-align: center;
        font-size: 24px;
      }
    }
    .header-info {
      flex: 1;
      display: none;
      @include md {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .header-info-sns {
        .header-info-sns-icon {
          color: white;
          margin-left: 8px;
          cursor: pointer;
          :hover {
            transition: all 0.2s;
            color: var(--primary-color-accent);
          }
        }
      }
    }
  }
}
