@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  box-shadow: var(--header-shadow-color) 1.95px 1.95px 2.6px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max-width;
    padding: 20px 28px;

    &-menu {
      display: flex;
      align-items: center;
      .link {
        font-size: 18px;
        font-weight: 600;
        margin-right: 20px;
        display: inline-block;
        transition: all ease-in 0.2s;
        color: var(--primary-text-color);
        &:hover {
          transform: translateY(2px);
        }
      }
      .dark-mode-btn {
        width: 50px;
        height: 30px;
        background: #21325e;
        padding: 5px;
        border-radius: 30px;
        cursor: pointer;
        overflow: hidden;
        &-inner {
          width: 20px;
          height: 20px;
          background-color: #f1d00a;
          border-radius: 50%;
          position: relative;
          transition: all 0.4s;

          &:before {
            content: "";
            position: absolute;
            left: -40%;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #21325e;
            transform: scale(0);
            transition: all 0.4s;
          }
        }
        .active {
          transform: translateX(calc(50px - 30px));
          &:before {
            transform: scale(1);
          }
        }
      }
    }
    &-title {
      font-size: 18px;
      font-weight: 600;
      color: var(--primary-text-color);
      @include md {
        font-size: 20px;
      }
    }
  }
}
