@use "../../styles/mixins" as *;

.post-wrapper {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;

  .post {
    width: 100%;
    @include xl {
      width: 70%;
    }
    padding: 0 20px;
  }
}
