@use "../../styles/mixins" as *;

.post-list-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 40px 0px;
  @include max-width;

  .post-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    .post-list-title {
      font-size: 1.75rem;
      line-height: 1.4;
      padding: 20px 0;
      font-weight: 500;
    }
    .post-list-column {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 40px;
      width: 100%;
      height: auto;
    }
  }
  .tag-list {
    width: 100%;
    height: auto;
    .tag-list-title {
      font-size: 1.25rem;
      line-height: 1.4;
      padding: 20px 0;
      font-weight: 500;
    }
  }
}
