@use "../../../styles/colors" as *;

.posts-page-header-wrapper {
  padding-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  p {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;

    strong {
      color: var(--third-text-color);
    }
  }
}
