@use "../styles/reset";
@use "../styles/variables";
@use "../styles/mixins";

* {
  box-sizing: border-box;
  appearance: none;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: white;
}
